        <% include ../partials/head %>
<script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/simplemde/1.11.2/simplemde.min.js"></script>
  <script src="../../marked.js"></script>
<script type="text/javascript" src="../../app.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/1.11.2/simplemde.min.css">
<link rel="stylesheet" href="../../css/stylesheet.css">

<body>
<button><a href="../logout">logout</a></button>
<div id = "upperHolder">
   <div id= "titleTextDiv"><span class="titleText"> <%= userData.title %></span></div>
    <div id= "postTextDiv"><span class="postText" id="singleTopicTitle"> <%= userData.forumText %></span></div>
 </div>       


            <div id="formHolder"> 
                <form action="/forum/" method="POST">
                    <input type="hidden" name="username" value="<%= sessionName %>">
                    <input type="hidden" name="forumID" value="<%= userData.id %>">
                    <input type="hidden" name="commentDate" value="<%= dateNow %>"> Comment:
                    <br>
                    <textarea name="commentText" class="message" id="MyID"/></textarea>
                    <br>
                    <input type="submit" value="submit" />
                </form>
            </div>
                    <div id="commentsHolder">

                    <% if (commentData!== null) { %>
                        <% for (var i = 0; i <  commentData.length; i++) { %>

                            <div class="topicHolder">
                                <div class="topicTitle">
                                        <span class="commentText"> <%= commentData[i].commentText %> </span>
                                </div>
                            
                                <div class="topicAuthor">
                                        <span class="commentAuthor"><%= commentData[i].username %></span>
                                </div>
                            
                                <div class="topicDate">
                                        <span class="commentDate"><%= commentData[i].commentDate %></span>
                                </div>
                            </div>

                        <% } %>
                    <% } %>
        </div>
</body>

</html>
