        <% include ../partials/head %>
<body>
<button><a href="../logout">logout</a></button>
<br>    Title:
    <%= userData.title %>
        <br> Body:
        <%= userData.forumText %>
                <form action="/forum/" method="POST">
                    <input type="hidden" name="username" value="<%= sessionName %>">
                    <input type="hidden" name="forumID" value="<%= userData.id %>">
                    <input type="hidden" name="commentDate" value="<%= dateNow %>"> Comment:
                    <br>
                    <textarea name="commentText" /></textarea>
                    <br>
                    <input type="submit" value="submit" />
                </form>
                    <% if (commentData!== null) { %>
                        <% for (var i = 0; i <  commentData.length; i++) { %>
                            <br> by <span class="commentAuthor"><%= commentData[i].username %></span>, <%= commentData[i].commentDate %>
                             <br>
                            <%= commentData[i].commentText %>
                        <% } %>
                    <% } %>
</body>

</html>
